---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Barra from '../components/Barra.astro';
import { Image} from "astro:assets";
---
	
<Layout title="capper cafe">
	<body>
		<div class="back"></div>
	<main>
		<div class="nav">
			<Barra
			href=""
			title="Inicio"
			/>
			
			<Barra 
				href="#lugares"
				title="Lugares"/>

			<Barra 
			href="#comidas"
			title="Comidas"	/>

			<Barra
			href="#contacto"
			title="contacto"/>
		
		</div>
		<br> <br>	
		<h1>Bienvenido a <span class="text-gradient">Capper Cafe</span></h1>
		<p class="instructions">
			Bienvenido a <strong>Capper Cafe</strong>
			creemos que cada taza de café cuenta una historia.
			Ya sea que prefieras un espresso intenso, un capuchino cremoso, o una taza de café filtrado perfectamente equilibrada, aquí encontrarás la bebida perfecta para cada momento. 
			Además, disfruta de nuestra selección de pasteles y snacks artesanales, creados para complementar tu experiencia de café.
		</p>
		
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
			
				title="Postres"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Cafe caliente"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				
				title="cafe frio"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
	</body>
</Layout>

<style>

 .back{
	position: absolute;
	background-image: url('/image/cafee.jpeg');
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;

 }
main {
		position: relative;
		z-index: 1;
		margin: auto;
		padding: 20px;
		padding-top: 0%;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(250, 250, 250);
		font-size: 20px;
		line-height: 1.6;
		text-align: center;
	}
	.nav{
	position: absolute;
	display: flex;
    margin-left:auto;
	margin-right: auto;
    gap: 38px;
    padding: 0px;
    text-decoration: none;
    color: rgb(0, 0, 0);
	}
	
	
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		color: rgb(221, 241, 240);
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
