---

import Nav from "./nav.astro"
---
		
			<div class="nav">
		<Nav
				href="../pages/index.astro"
				title="Inicio"
					
		/>
		<Nav
			href=" src/pages/Cafe.astro"
					title="Cafe"
					
			/>
			<Nav
				 href="src/pages/postres.astro"
						title="Postres"
					/>
				<Nav 
				 href="src/pages/bebidas.astro "
					title= "Bebidas"
				/>
				<Nav
				href="src/pages/sandwich.astro" 
					  title=Sandiwch
				/>					
			</div>

        <style>
        </style>